export RESOURCEGROUP="rg-nativeapps-eastus"
export CLUSTERNAME="nca-aks"
export REGISTRYNAME="maxsncaregistry"
export ZONENAME="9d824148a36a41b59c83.eastus.aksapp.io"
export DNSRESOURCEGROUP="mc_rg-nativeapps-eastus_nca-aks_eastus"